.footer {
	border-radius: 999px;
	border: 1px solid #E6EBF1;
	padding: 18px 32px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 16px;
	width: 100%;
	max-width: $container;
	margin-top: 42px;

	&__wrapper {
		max-width: $container;
		width: 100%;
		padding: 20px 10px;
	}

	&__copyrights {
		font-weight: 700;
		color: #1A3B69;
	}

	&__documents {
		color: #7E8DA1;
		display: flex;
		flex-direction: row;
		gap: 32px;
		font-weight: 600;
	}

	&__obr {
		max-width: 80dvw !important;
		width: 100dvw !important;
		overflow: hidden !important;
		padding: 64px 44px 64px 64px !important;

		&__scroll {
			overflow: auto;
			padding-right: 20px;
		}

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			border-radius: 9999px; /* Закругление трека */
			background-color: #f3f4f6; /* Цвет трека (light mode) */
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 9999px; /* Закругление ползунка */
			background-color: #d1d5db; /* Цвет ползунка (light mode) */
		}

		p:first-child {
			font-size: 20px;
			color: #1f3b69;
			font-weight: 700;
			margin-bottom: 22px;
		}

		p {
			color: #7e8da1;
			font-weight: 400;
			font-size: 14px;
			line-height: 22px;
		}
	}

	&__inn {
		width: 100% !important;
		max-width: 468px !important;
		padding: 48px 42px !important;
		border-radius: 36px !important;

		p {
			font-size: 16px;
			font-weight: 700;
			color: #1f3b69;

			&:last-child {
				margin-top: 40px;
				font-size: 14px;
				display: flex;
				flex-direction: column;

				span {
					color: #7e8da1;
					font-weight: 400;
				}
			}
		}
	}

	@media (width <= $lg) {
		border-radius: 38px;
		flex-direction: column-reverse;
		align-items: center;
		gap: 24px;

		&__documents {
			flex-direction: column;
			align-items: center;
			gap: 24px;
			text-align: center;
		}
	}

	@media (width <= $sm) {
		font-size: 14px;
		padding: 30px 20px;

		&__copyrights {
			font-size: 15px;
		}
	}
}
